In [1]:
from IPython.display import display, HTML
import pandas as pd
import math

#import chart_studio.plotly as py
import plotly.graph_objects as go
import plotly.express as px
import numpy as np
from scipy import special

In [2]:
# Read the csv file into a dataframe
df_sales = pd.read_csv("Data/Ex_4.1_Part1_Data.csv") 

print("Number of Rows: ", df_sales.shape[0])
print("Number of Columns: ", df_sales.shape[1])
df_sales.head(5)

Number of Rows:  1000
Number of Columns:  7

,OrderID,Order Date,Product,Size (US),Colour,Price ($),Store
0,1,1/2/2015,Boots,7,Gold,25,California
1,2,1/2/2015,Boots,4,Black,25,New York
2,3,1/2/2015,Boots,6,Red,25,Georgia
3,4,1/3/2015,House Slippers,11,Black,8,Internet
4,5,1/3/2015,Boots,6,Silver,25,California

In [3]:
# Convert Prices to floats
df_sales['Price ($)'] = pd.to_numeric(df_sales['Price ($)']).astype(float)

In [4]:
# Display unique values of the column we want to group by
df_sales['Store'].unique()

array(['California', 'New York', 'Georgia', 'Internet', 'Texas',
       'Washington'], dtype=object)

In [5]:
# Group by: Store
# Calculation: Sum

df_sales_sum_by_store = df_sales.groupby('Store').sum()
df_sales_sum_by_store

            OrderID  Size (US)  Price ($)
Store
California    67826       1166     2880.0
Georgia       82833       1284     3208.0
Internet     148963       2079     5419.0
New York      62795       1138     2843.0
Texas         67582       1125     2643.0
Washington    70501       1223     2917.0

In [6]:
# Reset index to have Type as a column
df_sales_sum_by_store.reset_index(inplace=True)
df_sales_sum_by_store.head()

        Store  OrderID  Size (US)  Price ($)
0  California    67826       1166     2880.0
1     Georgia    82833       1284     3208.0
2    Internet   148963       2079     5419.0
3    New York    62795       1138     2843.0
4       Texas    67582       1125     2643.0

In [7]:
# Sort 
df_sales_sum_by_store.sort_values('Price ($)', ascending=False, inplace=True) 
df_sales_sum_by_store

        Store  OrderID  Size (US)  Price ($)
2    Internet   148963       2079     5419.0
1     Georgia    82833       1284     3208.0
5  Washington    70501       1223     2917.0
0  California    67826       1166     2880.0
3    New York    62795       1138     2843.0
4       Texas    67582       1125     2643.0

In [10]:
fig = px.bar(df_sales_sum_by_store, 
             x='Store',            
             y='Price ($)',
             text='Price ($)',
             height=350,
             width=900,
             hover_name='Store',
             template='presentation',
            title='Question 1.1: What are our Total Sales by Store? (Improved)')

fig.update_xaxes(showgrid=False,  
                 title_text=''
                # tick0=1952, 
                # dtick=5
                )

fig.update_yaxes(showgrid=True, 
                 title_text='',
                 tick0=0,
                  dtick=2000,
                 tickformat='$,.1s',
                 hoverformat=".f")

fig.update_traces(textposition='auto', 
                  texttemplate='%{text:$,.2s}' 
                  # texttemplate='%{text:$,.0f}' 
                 )


fig.show()