# Sorting Rows

- [**Sorting a Dataframe**](#Sorting-a-Dataframe)  
  - [**Sorting by One Column**](#Sorting-by-One-Column)  
  - [**Sorting by Two Columns**](#Sorting-by-Two-Columns)  
  
  
- [**Sorting a pandas Series**](#Sorting-a-pandas-Series)  
  - Sorting by values  
  - Sorting by the index

In [2]:
import pandas as pd

# Sorting a Dataframe

In [3]:
#Read the csv file into a pandas dataframe
df = pd.read_csv('Data/Olympics.csv')

#Display the top rows in the dataframe
df.head(5)

   Rank              Country  Gold  Silver  Bronze  Total
0     1  United States (USA)    46      37      38    121
1     2  Great Britain (GBR)    27      23      17     67
2     3          China (CHN)    26      18      26     70
3     4         Russia (RUS)    19      17      19     55
4     5        Germany (GER)    17      10      15     42

# Sorting by One Column

In [28]:
# Sort by Number of Gold medals, Descending
# Note:  inplace
df.sort_values('Gold', inplace=True, ascending=False)
df.head()

               Country  Rank  Gold  Silver  Bronze  Total
0  United States (USA)     1    46      37      38    121
1  Great Britain (GBR)     2    27      23      17     67
2          China (CHN)     3    26      18      26     70
3         Russia (RUS)     4    19      17      19     55
4        Germany (GER)     5    17      10      15     42

# Sorting by Two Columns

In [29]:
#Read the CSV file
df_countries = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/drinks.csv')
df_countries.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [30]:
# Create a new dataframe (df_continents) based on a sorted copy of df_countries
# Sort order: Continent and Country, both Ascending
df_by_continents = df_countries.sort_values(['continent', 'country'], inplace=False, ascending=[False, False])
df_by_continents.head(10)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
188,Venezuela,333,100,3,7.7,South America
185,Uruguay,115,35,220,6.6,South America
163,Suriname,128,178,7,5.6,South America
133,Peru,163,160,21,6.1,South America
132,Paraguay,213,117,74,7.3,South America
72,Guyana,93,302,1,7.1,South America
52,Ecuador,162,74,3,4.2,South America
37,Colombia,159,76,3,4.2,South America
35,Chile,130,124,172,7.6,South America
23,Brazil,245,145,16,7.2,South America

# Sorting a pandas Series 
- Sorting by values  
- Sorting by the index

In [3]:
# Create a Series to Sort
vehicle_counts = pd.Series([300, 50, 100, 150], index=['Sedan', 'SUV', 'Sports', 'Wagon'])
vehicle_counts

Sedan     300
SUV        50
Sports    100
Wagon     150
dtype: int64

## Sorting by the *values* in the pandas Series  
- Notes:  
  - We are Sorting Descending
  - This is Sorting inplace.  That means we are sorting the existing Series, we're not creating a new, sorted Series.

In [4]:
vehicle_counts.sort_values(ascending=False, inplace=True)
vehicle_counts

Sedan     300
Wagon     150
Sports    100
SUV        50
dtype: int64

## Sorting by the *index* of the pandas Series  
- Notes:  
  - We are Sorting Ascending
  - This is not Sorting inplace.  That means we are creating a new a new, sorted Series.

In [6]:
sorted_vehicle_counts = vehicle_counts.sort_values(ascending=True, inplace=False)
sorted_vehicle_counts

SUV        50
Sports    100
Wagon     150
Sedan     300
dtype: int64