# 0.3 *Lists*  

- [Python Lists](#Python-Lists) 
- [Creating a List](#Creating-a-List)  
- [List Indexes](#List-Indexes)
- [Appending values to a List](#Appending-values-to-a-List)  
- [Checking if a value is in a List](#Checking-if-a-value-is-in-a-List)

# Python Lists  
- A Variable contains a single value.  A List contains a collection of values.  
- We will use Lists all the time when working with data.   
![Mailbox](Images/ListMailbox.png)

# Creating a List

### A List of Names

In [1]:
# Create a List named customer_names
customer_names = ["Janet Baker", 
                  "George Lee", 
                  "Sue Li", 
                  "Samuel Hoosier", 
                  "Sandra Weeks", 
                  "William Macy", 
                  "Andy Harrison", 
                  "Ken Ford", 
                  "Denny Franks",
                  "Shawn James"]

print(customer_names)

['Janet Baker', 'George Lee', 'Sue Li', 'Samuel Hoosier', 'Sandra Weeks', 'William Macy', 'Andy Harrison', 'Ken Ford', 'Denny Franks', 'Shawn James']

### A List of Numbers

In [2]:
# Create a List with test scores in it
exam_scores = [89, 93, 78, 92]

# Display it 
print(exam_scores)

[89, 93, 78, 92]

# List Indexes
Lists are indexed starting with zero.

In [3]:
print(customer_names)

['Janet Baker', 'George Lee', 'Sue Li', 'Samuel Hoosier', 'Sandra Weeks', 'William Macy', 'Andy Harrison', 'Ken Ford', 'Denny Franks', 'Shawn James']

In [4]:
# Display the first value in the customer_names List
customer_names[0]

'Janet Baker'

In [5]:
# Display the second value in the customer_names List
customer_names[1]

'George Lee'

In [6]:
print(exam_scores)

[89, 93, 78, 92]

In [7]:
# Display the first value in the exam_scores List
exam_scores[0]

89

# Appending values to a List

In [8]:
# Appending values to the customer_names List
customer_names.append("Dan Clapper")
customer_names.append("Anne Massey")

print(customer_names)

['Janet Baker', 'George Lee', 'Sue Li', 'Samuel Hoosier', 'Sandra Weeks', 'William Macy', 'Andy Harrison', 'Ken Ford', 'Denny Franks', 'Shawn James', 'Dan Clapper', 'Anne Massey']

# Checking if a value is in a List  
- Use the *in* keyword 
- It will return True if it is in the List or False if it is not

In [9]:
print(customer_names)

['Janet Baker', 'George Lee', 'Sue Li', 'Samuel Hoosier', 'Sandra Weeks', 'William Macy', 'Andy Harrison', 'Ken Ford', 'Denny Franks', 'Shawn James', 'Dan Clapper', 'Anne Massey']

In [10]:
# Check if value is in the List
is_in_list = 'Ken Ford' in customer_names

# Display result
print(is_in_list)

True