# 2.2 *read_excel()*: Getting Data from an Excel File into a *pandas* Dataframe     

- **Overview:**   
  1. Read the Excel Worksheet data into a pandas dataframe 
    1. **Note:  Be sure to check (and adjust accordingly) if you need to skips some rows at the top the worksheet!**
  2. Display info about the new pandas dataframe  
  
  

- [Getting Data from an Excel Worksheet](#Getting-Data-from-an-Excel-Worksheet)

In [2]:
import pandas as pd

# Getting Data from an Excel Worksheet

### 1. Read the Excel Worksheet data into a pandas dataframe

In [12]:
df_W3_customers = pd.read_excel("Data/w3schools_Data.xlsx", "Customers", skiprows=2)

### 2. Display info about the new pandas dataframe

In [13]:
df_W3_customers.head()

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,5021,Mexico
2,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,5023,Mexico
3,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK
4,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden

In [9]:
# Display of number of rows and columns in the dataframe to doublecheck
print("Number of Rows: ", df_W3_customers.shape[0])
print("Number of Columns: ", df_W3_customers.shape[1])

Number of Rows:  93
Number of Columns:  7

In [11]:
# Display the datatypes of the columns in the dataframe
df_W3_customers.dtypes

CustomerID      object
CustomerName    object
ContactName     object
Address         object
City            object
PostalCode      object
Country         object
dtype: object

In [ ]:
# Everything about reading Excel using pandas is similar to csv, except for the option to skip rows/columns and to specify worksheets by name