# 2.1 Getting Data from CSV Files into a *pandas* Dataframe    


 1. Read the CSV File into a *pandas* Dataframe  
 2. Display Info About the New *pandas* Dataframe

In [1]:
# Import the pandas library as pd
import pandas as pd

# 1. Read the CSV File into a *pandas* Dataframe  
- Under your code folder (or each code folder), create a folder named *Data*
- All the data files you use should be in a *Data* folder -- not the same folder as your Jupyter Notebooks  
- Data file:  **olympics.csv**

In [8]:
# Read the CSV file data into a pandas dataframe
df = pd.read_csv("Data/olympics.csv")

# Display the top rows of the dataframe
df.head()

   Rank              Country  Gold  Silver  Bronze  Total
0     1  United States (USA)    46      37      38    121
1     2  Great Britain (GBR)    27      23      17     67
2     3          China (CHN)    26      18      26     70
3     4         Russia (RUS)    19      17      19     55
4     5        Germany (GER)    17      10      15     42

# 2. Display Info About the New *pandas* Dataframe

In [13]:
# Display of number of rows and columns in the dataframe to doublecheck
print("Number of Rows:", df.shape[0])
print("Number of Columns:", df.shape[1])

Number of Rows: 87
Number of Columns: 6

In [12]:
# Display the datatypes of the columns in the dataframe
df.dtypes

Rank        int64
Country    object
Gold        int64
Silver      int64
Bronze      int64
Total       int64
dtype: object

In [ ]:
#CTRL + ENTER --> Run the cell but keep the pointer on that cell in case you need to fix the code in that cell instead of jumping to the next cell
#SHIFT + ENTER = Run Cell