# Ex 2.1 Getting Data from Files into a *pandas* Dataframe    

- [In Class](#In-Class)  


- [Exercise](#Exercise)  
  - [Part 1](#Part-1)   
  - [Part 2](#Part-2)  
  - [Part 3](#Part-3)  
  - [Part 4](#Part-4)

In [1]:
# Import the pandas library as pd
import pandas as pd

# In Class  
- Data file type:  *CSV file*
- Data file:  **Shoes_SmallDataset.csv**    
- Name the dataframe:  **df_shoes_small**  


- Display the top rows of the dataframe  
- Display the number of rows and columns of data in the dataframe
- Show the data types of the columns in the dataframe

### Read the csv file into a pandas dataframe

In [4]:
# Read the CSV file data into a pandas dataframe

df_shoes_small = pd.read_csv("Data/Shoes_SmallDataset.csv")

#Display the top rows of the dataframe
df_shoes_small.head()

   OrderID  Order Date Product  Size (US) Colour  Price ($)
0       10  04/01/2015   Boots         12  Black         25
1        7  03/01/2015   Boots         10  Black         25
2        8  03/01/2015   Boots          9  Black         25
3       11  05/01/2015   Boots          7  Black         25
4        2  02/01/2015   Boots          4  Black         25

### Display info about the new pandas dataframe

In [5]:
# Display of number of rows and columns in the dataframe to doublecheck
print("Number of Rows:", df_shoes_small.shape[0])
print("Number of Columns:", df_shoes_small.shape[1])

Number of Rows: 12
Number of Columns: 6

In [6]:
# Display the datatypes of the columns in the dataframe
df_shoes_small.dtypes

OrderID        int64
Order Date    object
Product       object
Size (US)      int64
Colour        object
Price ($)      int64
dtype: object

# Exercise

# Part 1

- Data source:  **Femalelist.csv**    
- Name the dataframe:  **df_female_customers**  


- Display just the top rows of the dataframe  
- Display the number of rows and columns of data in the dataframe
- Show the data types of the columns in the dataframe

### Read the csv file into a pandas dataframe

In [2]:
import pandas as pd 

# Read the CSV file data into a pandas dataframe

df_female_customers = pd.read_csv("Data/Femalelist.csv")

#Display the top rows of the dataframe
df_female_customers.head()

      Name Sex  Age  Height  Weight
0    Alice   F   13    56.5    84.0
1  Barbara   F   13    65.3    98.0
2    Carol   F   14    62.8   102.5
3     Jane   F   12    59.8    84.5
4    Janet   F   15    62.5   112.5

### Display info about the new pandas dataframe

In [9]:
#Display the number of rows and columns of data in the dataframe
print("Number of Rows:", df_female_customers.shape[0])
print("Number of Columns:", df_female_customers.shape[1])

#Show the data types in the dataframe:
df_female_customers.dtypes

Number of Rows: 9
Number of Columns: 5

Name       object
Sex        object
Age         int64
Height    float64
Weight    float64
dtype: object

# Part 2

- Data source:  **Household.csv**    
- Name the dataframe:  **df_household**  


- Display just the top rows of the dataframe  
- Display the number of rows and columns of data in the dataframe
- Show the data types of the columns in the dataframe

### Read the csv file into a pandas dataframe

In [11]:
# Read the csv file into a pandas dataframe
df_household = pd.read_csv("Data/Household.csv")

### Display info about the new pandas dataframe

In [14]:
#Display the top rows of the dataframe
df_household.head()

      Month        Category  Amount
0   January  Transportation      74
1   January         Grocery     235
2   January       Household     175
3   January   Entertainment     100
4  February  Transportation     115

In [12]:
#Display the number of rows and columns of data in the dataframe
print("Number of Rows:", df_household.shape[0])
print("Number of Columns:", df_household.shape[1])

#Show the data types in the dataframe:
df_household.dtypes

Number of Rows: 12
Number of Columns: 3

Month       object
Category    object
Amount       int64
dtype: object

# Part 3

- Data source:  **Country_Data.csv**    
- Name the dataframe:  **df_country**  


- Display just the top rows of the dataframe  
- Display the number of rows and columns of data in the dataframe
- Show the data types of the columns in the dataframe

In [15]:
# Read the csv file into a pandas dataframe

df_country = pd.read_csv("Data/Country_Data.csv")

#Display the top rows of the dataframe
df_country.head()

       country continent  year  lifeExpectancy  population  gdpPerCapita
0  Afghanistan      Asia  1952          28.801     8425333    779.445314
1  Afghanistan      Asia  1957          30.332     9240934    820.853030
2  Afghanistan      Asia  1962          31.997    10267083    853.100710
3  Afghanistan      Asia  1967          34.020    11537966    836.197138
4  Afghanistan      Asia  1972          36.088    13079460    739.981106

In [16]:
#Display the number of rows and columns of data in the dataframe
print("Number of Rows:", df_country.shape[0])
print("Number of Columns:", df_country.shape[1])

#Show the data types in the dataframe:
df_country.dtypes

Number of Rows: 1704
Number of Columns: 6

country            object
continent          object
year                int64
lifeExpectancy    float64
population          int64
gdpPerCapita      float64
dtype: object

# Part 4

- Data source:  **NCHS_-_Leading_Causes_of_Death__United_States.csv**    
- Name the dataframe:  **df_deaths**  


- Display just the top rows of the dataframe  
- Display the number of rows and columns of data in the dataframe
- Show the data types of the columns in the dataframe

In [21]:
# Read tge csv file into a pandas dataframe
df_deaths = pd.read_csv("Data/NCHS_-_Leading_Causes_of_Death__United_States.csv")

#Display the top rows of the dataframe
df_deaths.head()

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,United States,169936,49.4
1,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alabama,2703,53.8
2,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alaska,436,63.7
3,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arizona,4184,56.2
4,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arkansas,1625,51.8

In [22]:
#Display the number of rows and columns of data in the dataframe
print("Number of Rows:", df_deaths.shape[0])
print("Number of Columns:", df_deaths.shape[1])

#Show the data types in the dataframe:
df_deaths.dtypes

Number of Rows: 10868
Number of Columns: 6

Year                         int64
113 Cause Name              object
Cause Name                  object
State                       object
Deaths                       int64
Age-adjusted Death Rate    float64
dtype: object